@page "{id}"
@model DataCollect.Web.Pages.Books.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h3>删除 @Model.Book.Name</h3>

<h4>你要删除这个工作表吗？数据将会删除！</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            名称
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Book.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">返回工作簿主页</a>
    </form>
</div>
