@page "{id}"
@model DataCollect.Web.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    @(await Component.InvokeAsync<BookViewComponent>(new BookModel {Book=Model.Book }))
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.Id">Edit</a> |
    <a asp-page="./Index">返回工作簿主页</a>
</div>
