@page
@model DataCollect.Web.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4>工作簿</h4>

<p>
    <a asp-page="Create">创建工作薄</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    名称
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">修改</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">详情</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
