.sheet-item{list-style:none}body{padding-top:50px;padding-bottom:20px}.body-content{padding-left:15px;padding-right:15px}.carousel-caption p{font-size:20px;line-height:1.4}.carousel-inner .item img[src$=".svg"]{width:100%}#qrCode{margin:15px}@media screen and (max-width: 767px){.carousel-caption{display:none}}.plain-list>.p-item{display:flex}.plain-list>.p-item>div:nth-child(2){margin-left:2rem}.d-flex{display:flex}.d-none {display: none;}
.p-item > div:nth-child(1) {
    width: 20rem;
    overflow:hidden;
}