@using DataCollect.Web.Data.ViewModels.Event
@using DataCollect.Web.Utities.ViewComponents
@model CollectEvent

<h4>当前用户: User1 任务: @Model.Name</h4>
<div>
    @foreach (var book in Model.Books)
    {
        @(await Component.InvokeAsync<BookViewComponent>(book))
        <form method="post" enctype="multipart/form-data" asp-controller="Event" asp-action="DoFillIn" asp-route-id="@book.Id">
            <input accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="excelfile" type="file" /><button>上传</button>
        </form>
    }
</div>
