@page "{id}"
@model DataCollect.Web.Pages.Event.ItemModel
@{
    ViewData["Title"] = "Index";
}

<h5>@Model.CollectEvent.Name</h5>

<a asp-page="/Event/AddBook">添加工作簿</a>

<div>
    @foreach (var book in Model.CollectEvent.Books)
    {
        <div>
            @(await Component.InvokeAsync<BookViewComponent>(book))
        </div>
    }
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
