@{
    if (ViewBag.IsAdmin == null)
    {
        @inject UserManager<ApplicationUser> userManager
        var user = await userManager.GetUserAsync(User);
        if (user == null) { ViewBag.IsAdmin = false; }
        else { ViewBag.IsAdmin = await userManager.IsInRoleAsync(user, "admin"); }
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 数据收集</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="home-nav bg-gray">
        <div class="container">
            <div>
                <a asp-page="/Index">数据收集</a>
            </div>
            <div>
                <ul>
                    <li><a asp-page="/Index">主页</a></li>
                    @if (ViewBag.IsAdmin)
            {
                <li><a asp-page="/Event/Index">收集任务</a></li>
                <li><a asp-page="/Books/Index">工作簿</a></li>}
                </ul>
            </div>
            @await Html.PartialAsync("/Pages/_LoginPartial.cshtml")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - DataCollect</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery-1.12.4.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
