@using Microsoft.AspNetCore.Identity
@using DataCollect.Web.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<div class="loginNav">
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <ul>
            <li>
                <a asp-page="/Account/Manage/Index" title="账户管理">你好,@UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn-link homenav-btn-link">退出</button>
            </li>
        </ul>
    </form>
</div>
}
else
{
    <div class="loginNav">
        <ul>
            <li><a asp-page="/Account/Register">注册</a></li>
            <li><a asp-page="/Account/Login">登录</a></li>
        </ul>
    </div>
}
