@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <div>当前收集任务：</div>
    <ul>
        @foreach (var item in Model.EventList)
        {
            <li><a asp-page="/Event/Index" asp-route-id="@item.Id">@item.Name</a></li>
        }
    </ul>
    <div>数据库设计</div>
    <img class="img-responsive" src="~/images/数据库.png" />
</div>
